{% extends "layouts/base-fullscreen.html" %}

{% block title %}Verify OTP or Secret Number{% endblock %}

{% block content %}
<div class="content">
    <div class="container">
        <div class="row pt-5">
            <div class="col-md-6 offset-md-3">
                <div class="card">
                    <div class="card-header text-center py-4">
                        <h4 class="title">Verify OTP or Secret Number</h4>
                        <h6 class="card-category">Please enter the OTP sent to your email or your secret number.</h6>
                    </div>
                    {% if messages %}
                        <div class="alert-container alert alert-dismissible fade show" role="alert">
                            {% for message in messages %}
                                <div class="alert alert-{{ message.tags }}">{{ message }}</div>
                            {% endfor %}
                        </div>
                        <script>
                            setTimeout(function() {
                                const alertContainer = document.querySelector('.alert-container');
                                if (alertContainer) {
                                    alertContainer.style.transition = "opacity 0.5s";
                                    alertContainer.style.opacity = 0;
                                    setTimeout(function() {
                                        alertContainer.remove();
                                    }, 500);
                                }
                            }, 1000); 
                        </script>
                    {% endif %}

                    <form method="post">
                        {% csrf_token %}
                        <div class="card-body">
                            <div class="form-group">
                                <label for="code">Enter OTP or Secret Number</label>
                                <input type="text" name="code" class="form-control" placeholder="Enter your OTP or Secret Number" required>
                            </div>
                        </div>
                        
                        <div class="card-footer text-center">
                            <button type="submit" class="btn btn-primary">Verify</button>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
