.active .sidebar-items{
    font-weight: 800;
    font-size:medium;
}
.dt-length{
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: left;
}
.btn.dropdown-toggle[data-toggle="dropdown"]{
    margin: 0;
}
.dt-search{
    display: none;
}
.alert-container{
    padding: 0;
}
@media (max-width: 768px){
    *{
        font-size: 13px;
    }
    .table-responsive *{
        font-size: 10px;
    }
    .items_adding_table{
        width: 100%;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
    }
    .items_adding_table *{
        font-size: 7px;
    }
}
::-webkit-scrollbar{
    width: 0 !important;
    opacity: 0 !important;
}
::-webkit-scrollbar-track{
    width: 0px !important;
}
body::-webkit-scrollbar,
html::-webkit-scrollbar{
    width: 10px !important;
}
html::-webkit-scrollbar-thumb,
body::-webkit-scrollbar-thumb{
    background:linear-gradient(#e04eca,#bb54f5) !important;
    border-radius: 10px;
}
.table-responsive {
    overflow: auto !important;
    padding-bottom: 10px; 
}

.modal-scrollbar-measure {
    position: absolute;
    top: -9999px;
    width: 50px;
    height: 50px;
    overflow: auto !important; 
}