{% extends "layouts/base.html" %}
{% load static %}
{% block title %}Create Letterhead{% endblock %}

{% block stylesheets %}
<link href="{% static 'assets/django_ckeditor_5/dist/styles.css' %}" type="text/css" media="all" rel="stylesheet">
<style>
    .ck-editor-container .ck-editor:nth-of-type(2) {
        display: none;
    }
</style>
{% endblock stylesheets %}

{% block content %}
<div class="content">
    <div class="row">
        <div class="col-12">
            <h2>CREATE LETTERHEAD</h2>

            {% if messages %}
            <div class="alert-container alert alert-dismissible fade show" role="alert">
                {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">{{ message }}</div>
                {% endfor %}
            </div>
            <script>
                setTimeout(function () {
                    const alertContainer = document.querySelector('.alert-container');
                    if (alertContainer) {
                        alertContainer.style.transition = "opacity 0.5s";
                        alertContainer.style.opacity = 0;
                        setTimeout(function () {
                            alertContainer.remove();
                        }, 500);
                    }
                }, 1000);
            </script>
            {% endif %}

            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{ letterhead_form.as_p }}
                <button type="submit">Submit</button>
            </form>
            <script>
                document.addEventListener('DOMContentLoaded', function () {
                    // Initialize CKEditor for the textareas
                    const editorConfigs = ['#id_top_right_text', '#id_offer_letter', '#id_footer_left_text', '#id_footer_right_text'];

                    editorConfigs.forEach(selector => {
                        ClassicEditor
                            .create(document.querySelector(selector))
                            .then(editor => {
                                // Replace the hidden textarea with the editor
                                const textarea = document.querySelector(selector);
                                textarea.style.display = 'none';  // Ensure it's visible
                                textarea.removeAttribute('required');  // Temporarily remove required
                            })
                            .catch(error => {
                                console.error(error);
                            });
                    });
                });
            </script>

        </div>
    </div>
</div>
</div>
<script src="{% static 'assets/django_ckeditor_5/dist/bundle.js' %}"></script>
{% endblock %}