{% extends "layouts/base.html" %}
{% load static %}

{% block title %} Dashboard {% endblock %}
{% block stylesheets %}
<link rel="stylesheet" href="{% static 'assets/css/invoice/invoice.css' %}">
{% endblock stylesheets %}
{% block content %}
<div class="content">
    <div class="row">
        <div class="col-12 create_invoice">
            <h2>CREATE INVOICE</h2>
            {% if messages %}
            <div class="alert alert-dismissible fade show" role="alert">
                {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">{{ message }}</div>
                {% endfor %}
            </div>
            {% endif %}

            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Invoice
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="{% url 'invoice:create_invoice' %}">Create Invoice</a>
                </div>
            </div>
            <br>
            <h1>{{ form.instance.pk|yesno:"Edit Bank Details,Add Bank Details" }}</h1>
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Save</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}