
    <div class="sidebar">
        <!--
          Tip 1: You can change the color of the sidebar using: data-color="blue | green | orange | red"
      -->
        <div class="sidebar-wrapper">
            <ul class="nav">
                <li class="{% if request.path == '/' %}active{% endif %}">
                    <a href="/">
                        <i class="tim-icons icon-chart-pie-36"></i>
                        <p class="sidebar-items">Dashboard</p>
                    </a>
                </li>
                <li class="{% if '/invoice/' in request.path %}active{% endif %}">
                    <a href="{% url 'invoice:invoice' %}">
                        <i class="tim-icons icon-email-85"></i>
                        <p class="sidebar-items">Invoice</p>
                    </a>
                </li>       
                <li class="{% if '/order/' in request.path %}active{% endif %}">
                    <a href="{% url 'status:order_list' %}">
                        <i class="tim-icons icon-single-02"></i>
                        <p class="sidebar-items">status</p>
                    </a>
                </li>             
                <li>
                    <a href="{% url 'authentication:login' %}">
                        <i class="tim-icons icon-button-power"></i>
                        <p class="sidebar-items">Logout</p>
                    </a>
                </li>
            </ul>
        </div>
    </div>
